WebContent/wsdl/ServiceCrudPersona.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://crud.service.org" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://crud.service.org" xmlns:intf="http://crud.service.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://crud.service.org" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="altaPersona">
    <complexType>
     <sequence>
      <element name="id" type="xsd:int"/>
      <element name="nombre" type="xsd:string"/>
      <element name="apepat" type="xsd:string"/>
      <element name="tel" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="altaPersonaResponse">
    <complexType>
     <sequence>
      <element name="altaPersonaReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="modificaPersona">
    <complexType>
     <sequence>
      <element name="nombre" type="xsd:string"/>
      <element name="apepat" type="xsd:string"/>
      <element name="tel" type="xsd:string"/>
      <element name="id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="modificaPersonaResponse">
    <complexType>
     <sequence>
      <element name="modificaPersonaReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="eliminaPersona">
    <complexType>
     <sequence>
      <element name="id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="eliminaPersonaResponse">
    <complexType>
     <sequence>
      <element name="eliminaPersonaReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="consultaIdPersona">
    <complexType>
     <sequence>
      <element name="id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="consultaIdPersonaResponse">
    <complexType>
     <sequence>
      <element name="consultaIdPersonaReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="connecDataBaseOracle">
    <complexType/>
   </element>
   <element name="connecDataBaseOracleResponse">
    <complexType/>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="modificaPersonaResponse">

      <wsdl:part element="impl:modificaPersonaResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="consultaIdPersonaResponse">

      <wsdl:part element="impl:consultaIdPersonaResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="modificaPersonaRequest">

      <wsdl:part element="impl:modificaPersona" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="eliminaPersonaRequest">

      <wsdl:part element="impl:eliminaPersona" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="consultaIdPersonaRequest">

      <wsdl:part element="impl:consultaIdPersona" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="altaPersonaRequest">

      <wsdl:part element="impl:altaPersona" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="connecDataBaseOracleResponse">

      <wsdl:part element="impl:connecDataBaseOracleResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="altaPersonaResponse">

      <wsdl:part element="impl:altaPersonaResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="eliminaPersonaResponse">

      <wsdl:part element="impl:eliminaPersonaResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="connecDataBaseOracleRequest">

      <wsdl:part element="impl:connecDataBaseOracle" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ServiceCrudPersona">

      <wsdl:operation name="altaPersona">

         <wsdl:input message="impl:altaPersonaRequest" name="altaPersonaRequest">

       </wsdl:input>

         <wsdl:output message="impl:altaPersonaResponse" name="altaPersonaResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="modificaPersona">

         <wsdl:input message="impl:modificaPersonaRequest" name="modificaPersonaRequest">

       </wsdl:input>

         <wsdl:output message="impl:modificaPersonaResponse" name="modificaPersonaResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="eliminaPersona">

         <wsdl:input message="impl:eliminaPersonaRequest" name="eliminaPersonaRequest">

       </wsdl:input>

         <wsdl:output message="impl:eliminaPersonaResponse" name="eliminaPersonaResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="consultaIdPersona">

         <wsdl:input message="impl:consultaIdPersonaRequest" name="consultaIdPersonaRequest">

       </wsdl:input>

         <wsdl:output message="impl:consultaIdPersonaResponse" name="consultaIdPersonaResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="connecDataBaseOracle">

         <wsdl:input message="impl:connecDataBaseOracleRequest" name="connecDataBaseOracleRequest">

       </wsdl:input>

         <wsdl:output message="impl:connecDataBaseOracleResponse" name="connecDataBaseOracleResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ServiceCrudPersonaSoapBinding" type="impl:ServiceCrudPersona">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="altaPersona">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="altaPersonaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="altaPersonaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="modificaPersona">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="modificaPersonaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="modificaPersonaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="eliminaPersona">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="eliminaPersonaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="eliminaPersonaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="consultaIdPersona">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="consultaIdPersonaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="consultaIdPersonaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="connecDataBaseOracle">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="connecDataBaseOracleRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="connecDataBaseOracleResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ServiceCrudPersonaService">

      <wsdl:port binding="impl:ServiceCrudPersonaSoapBinding" name="ServiceCrudPersona">

         <wsdlsoap:address location="http://localhost:7575/WebServiceServidorSOAP/services/ServiceCrudPersona"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
